<!DOCTYPE html>
<html>
	<head>
        <title></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="berita4.css">
	</head>
	<body>
		<header>
			<div class="website-header">
				<img src="images/fake-news-blue-network-logo-D95E900270-seeklogo.com.png">
				<h1>NEWS TODAY</h1>
				<div class="login-button">
                    <a href="2.login.html" class="btn btn-primary btn-sm" role="button" aria-pressed="true">LOGIN</a>
				</div>
			</div>
			<nav class="navbar navbar-expand-md ">
  <!-- Brand -->
  

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="1.index.html">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">POLITICS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">WORLD</a>
            </li> 
                <li class="nav-item">
                <a class="nav-link" href="#">BUSINESS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">TRAVEL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">TECHNOLOGY</a>
            </li> 
                <li class="nav-item">
                <a class="nav-link" href="#">SPORT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CARS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">VIDEOS</a>
            </li> 
            </ul>
        </div> 


		</header>
        <main>
            <div class="d-flex justify-content-center">
                <div class="container-2">
                    <div class="d-flex justify-content-center">
                        <div class="news-middle">
                            <div class="news-middle-head">
                                <h3>Several killed as Belarussian cargo plane crashes in Siberia</h3>
                                <p>
                                <img src="images/planeecrashes.jpg">
                                </p>
                                <h6>Firefighters working to put out a fire at a site of the Antonov An-12 aircraft crash outside Irkutsk, November 3, 2021 [Russian Emergency Situations Ministry/AFP]</h6>
                            </div>
                            <div class="news-middle-isi">
                                <p> Several people were killed when a Belarussian-owned cargo plane crash-landed in Siberia after disappearing from radar just outside the Russian city of Irkutsk, officials have said.</p>
                                <p>Russia’s federal aviation agency Rosaviatsiya said the Antonov An-12 plane, owned by Belarussian company Grodno, circled around after first coming in to land, at which point communication was lost.</p>
                                <p>“The only thing we can see is that, unfortunately, everyone is dead,” said Igor Kobzev, the regional governor of Irkutsk.</p>
                                <p>Belarussian authorities said the plane had an experienced crew of three Belarussians, two Russians and two Ukrainians, who had all died, and the plane had not been carrying any cargo.</p>
                                <p>Russian prosecutors later said there had been two additional passengers on board.</p>
                                <p><img src="images/000_9QX97M.webp" alt=""></p>
                                <p>The Belarussian transport ministry said the plane was completing a go-around in “difficult weather conditions”</p>
                                <p>Video footage from the scene showed rescuers battling to put out the flames, illuminated by torchlight in pitch black, snowy conditions. The local branch of the Russian Investigative Committee said it had opened a criminal case over violation of transport safety rules.</p>
                                <p>Antonov aircraft were manufactured during the Soviet era and are still used throughout the former Soviet Union for civilian and military transport.</p>
                                <p>They have been involved in a number of accidents in recent years.</p>
                                <p>Once notorious for accidents, Russia’s major airlines have shifted from ageing Soviet aircraft to more modern planes.</p>
                                <p>But poor maintenance and lax safety standards persist, and the country has recently seen several deadly air disasters.</p>
                                <p>In September, six people died when an An-26 transport aircraft crashed outside the far eastern city of Khabarovsk.</p>
                                <p>Meanwhile, in July, an An-26 flying over the Kamchatka Peninsula crashed, killing all 28 people on board.</p>
                                    <div class="iframe-container-2">
                                        <iframe width="650" height="365" src="https://www.youtube.com/embed/acqWjmO9Ti0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="news-middle-komen-head">Comment</div>
                                <div class="news-middle-komen">
                                    <section id="app">
                                        <div class="container">
                                          <div class="row">
                                            <div class="col-6">
                                              <div class="comment">
                                            <p v-for="items in item" v-text="items"></p>
                                              </div><!--End Comment-->
                                              </div><!--End col -->
                                              </div><!-- End row -->
                                          <div class="row">
                                            <div class="col-6">
                                          <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
                                              <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                                            </div><!-- End col -->
                                          </div><!--End Row -->
                                        </div><!--End Container -->
                                      </section><!-- end App -->
                                </div>

                        </div>
                        <div class="box-1">
                            <hr>
                            <a href="#"><h4>Top News</h4></a>
                            <ul class="list-unstyled">
                                <li class="media">
                                  <img class="mr-3" src="images/1Screenshot 2021-11-07 2153584.jpg" alt="Generic placeholder image" style="width: 25px;">
                                  <div class="media-body">
                                    <a href="6.berita.html">
                                        Thousands of young climate protesters march through Glasgow
                                    </a>
                                  </div>
                                </li>
                                <li class="media">
                                  <img class="mr-3" src="images/2Screenshot 2021-11-07 215358.3jpg.jpg" alt="Generic placeholder image" style="width:25px;">
                                  <div class="media-body">
                                    <a href="7.berita.html">
                                        Iraqi Prime Minister survives exploding drone assassination attempt
                                    </a>
                                  </div>
                                </li>
                                <li class="media">
                                  <img class="mr-3" src="images/3Screenshot 2021-11-07 2153582.jpg" alt="Generic placeholder image" style="width:25px;">
                                  <div class="media-body">
                                    <a href="4.berita.html">
                                        Several killed as Belarussian cargo plane crashes in Siberia
                                    </a>
                                  </div>
                                </li>
                                <li class="media">
                                    <img class="mr-3" src="images/4Screenshot 2021-11-07 2153581.jpg" alt="Generic placeholder image" style="width:25px;">
                                    <div class="media-body">
                                        <a href="5.berita.html">
                                            Antiviral covid pill 89% effective, Pfizer says
                                        </a>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="mr-3" src="images/5Screenshot 2021-11-07 2153585.jpg" alt="Generic placeholder image" style="width:25px;">
                                    <div class="media-body">
                                        <a href="8.berita.html">
                                            Travis Scott 'devastated' by Texas festival deaths
                                        </a>
                                    </div>
                                </li>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
			<div class="footer-line"></div>
				<div class="d-flex justify-content-center">
					<div class="footer-2">
						<img src="images/fake-news-blue-network-logo-D95E900270-seeklogo.com.png">
						<p>Connect With Us</p>
							<div class="social-media">
								<a href="#"><i class="fab fa-facebook fa-2x"></i></a>
								<a href="#"><i class="fab fa-twitter fa-2x"></i></a>
								<a href="#"><i class="fab fa-instagram fa-2x"></i></a>
								<a href="#"><i class="fab fa-youtube fa-2x"></i></a>
								<a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
							</div>
                            <div class="footer-body">								
                                <a href="#"><p>Copyright @ 2021 fnncom. </p></a>
                                <a href="#"><p>All right reserved</p></a>
                            </div>
					</div>
				</div>
			
		</footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>