<!DOCTYPE html>
<html>
	<head>
        <title></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="berita5.css">
	</head>
	<body>
		<header>
			<div class="website-header">
				<img src="images/fake-news-blue-network-logo-D95E900270-seeklogo.com.png">
				<h1>NEWS TODAY</h1>
				<div class="login-button">
                    <a href="2.login.html" class="btn btn-primary btn-sm" role="button" aria-pressed="true">LOGIN</a>
				</div>
			</div>
			<nav class="navbar navbar-expand-md ">
  <!-- Brand -->
  

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="1.index.html">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">POLITICS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">WORLD</a>
            </li> 
                <li class="nav-item">
                <a class="nav-link" href="#">BUSINESS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">TRAVEL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">TECHNOLOGY</a>
            </li> 
                <li class="nav-item">
                <a class="nav-link" href="#">SPORT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CARS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">VIDEOS</a>
            </li> 
            </ul>
        </div> 


		</header>
        <main>
            <div class="d-flex justify-content-center">
                <div class="container-2">
                    <div class="d-flex justify-content-center">
                        <div class="news-middle">
                            <div class="news-middle-head">
                                <h3>Covid: Pfizer says antiviral pill 89% effective in high-risk cases</h3>
                                <p>
                                <img src="images/phill-health.jpg">
                                </p>
                                <h6></h6> 
                            </div>
                            <div class="news-middle-isi">
                                <p>A pill to treat Covid developed by the US company Pfizer cuts the risk of hospitalisation or death by 89% in vulnerable adults, clinical trial results suggest.</p>
                                <p>The drug - Paxlovid - is intended for use soon after symptoms develop in people at high risk of severe disease.</p>
                                <p>It comes a day after the UK medicines regulator approved a similar treatment from Merck Sharp and Dohme (MSD).</p>
                                <p>Pfizer says it stopped trials early as the initial results were so positive.</p>
                                <p>The UK has already ordered 250,000 courses of the new Pfizer treatment, which has not yet been approved, along with another 480,000 courses of MSD's molnupiravir pill.</p>
                                <p>Health and Social Care Secretary Sajid Javid called the results "incredible", and said the UK's medicines regulator would now assess its safety and effectiveness.</p>
                                <p>"If approved, this could be another significant weapon in our armoury to fight the virus alongside our vaccines and other treatments," he said.</p>
                                <p>The Pfizer drug, known as a protease inhibitor, is designed to block an enzyme the virus needs in order to multiply. When taken alongside a low dose of another antiviral pill called ritonavir, it stays in the body for longer.</p>
                                <p>Three pills are taken twice a day for five days.
                                <p>Vaccines against Covid-19 are seen as the best way of controlling the pandemic but there is also demand for treatments that can be taken at home, particularly for vulnerable people who become infected.</p>
                                <p>Interim data from trials of the treatment in 1,219 high-risk patients who had recently been infected with Covid found that 0.8% of those given Paxlovid were hospitalised, compared with 7% of patients who were given a placebo or dummy pill.</p>
                                <p>They were treated within three days of Covid symptoms starting.</p>
                                <p>Seven patients given the placebo died compared to none in the group given the pill.</p>
                                <p>When treated within five days of symptoms appearing, 1% given Paxlovid ended up in hospital and none died. This compared to 6.7% of the placebo group being hospitalised and 10 of them dying.</p>
                                <p>Patients in the trial, which has not yet been published or verified, were elderly or had an underlying health condition which put them at higher risk of serious illness from Covid. They all had mild to moderate symptoms of coronavirus.</p>
                                <p>Dr Stephen Griffin, associate professor in the School of Medicine at the University of Leeds, said: "The success of these antivirals potentially marks a new era in our ability to prevent the severe consequences of Sars-CoV2 [coronavirus] infection, and is also a vital element for the care of clinically vulnerable people who may be unable to either receive or respond to vaccines."</p>
                                <p>Pfizer is also studying the treatment's impact on people at low risk of Covid illness and on those who have already been exposed to the virus by someone in their household.</p>
                                <p>Developing truly effective antiviral drugs is notoriously difficult, so having two that look highly potent against Covid is a remarkable feat.</p>
                                <p>Viruses are much simpler beasts than bacteria or parasites.</p>
                                <p>That sounds like they should be easier to defeat, but in reality it means there are far fewer weak spots for drugs to exploit.</p>
                                <p>There is also a wide variety of different types of virus that exploit our bodies in different ways, which means scientists often have to go back to the drawing board for each one.</p>
                                <p>Then they hide inside our body's own cells, which means drugs that seem potent in the lab may not work as well in the body.</p>
                                <p>There have been successes, notably in HIV, but reports concluded one antiviral for flu ended up being about as effective as paracetamol.</p>
                                <p>The question now is whether the success of these pills in clinical trials can be repeated in the real world, as people with Covid will have to be identified and treated within a matter of days of their symptoms developing.</p>
                                    <div class="iframe-container-2">
                                        <iframe width="650" height="365" src="https://www.youtube.com/embed/acqWjmO9Ti0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="news-middle-komen-head">Comment</div>
                                <div class="news-middle-komen">
                                    <section id="app">
                                        <div class="container">
                                          <div class="row">
                                            <div class="col-6">
                                              <div class="comment">
                                            <p v-for="items in item" v-text="items"></p>
                                              </div><!--End Comment-->
                                              </div><!--End col -->
                                              </div><!-- End row -->
                                          <div class="row">
                                            <div class="col-6">
                                          <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
                                              <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                                            </div><!-- End col -->
                                          </div><!--End Row -->
                                        </div><!--End Container -->
                                      </section><!-- end App -->
                                </div>

                        </div>
                        <div class="box-1">
                            <hr>
                            <a href="#"><h4>Top News</h4></a>
                            <ul class="list-unstyled">
                                <li class="media">
                                  <img class="mr-3" src="images/1Screenshot 2021-11-07 2153584.jpg" alt="Generic placeholder image" style="width: 25px;">
                                  <div class="media-body">
                                    <a href="6.berita.html">
                                        Thousands of young climate protesters march through Glasgow
                                    </a>
                                  </div>
                                </li>
                                <li class="media">
                                  <img class="mr-3" src="images/2Screenshot 2021-11-07 215358.3jpg.jpg" alt="Generic placeholder image" style="width:25px;">
                                  <div class="media-body">
                                    <a href="7.berita.html">
                                        Iraqi Prime Minister survives exploding drone assassination attempt
                                    </a>
                                  </div>
                                </li>
                                <li class="media">
                                  <img class="mr-3" src="images/3Screenshot 2021-11-07 2153582.jpg" alt="Generic placeholder image" style="width:25px;">
                                  <div class="media-body">
                                    <a href="4.berita.html">
                                        Several killed as Belarussian cargo plane crashes in Siberia
                                    </a>
                                  </div>
                                </li>
                                <li class="media">
                                    <img class="mr-3" src="images/4Screenshot 2021-11-07 2153581.jpg" alt="Generic placeholder image" style="width:25px;">
                                    <div class="media-body">
                                        <a href="5.berita.html">
                                            Antiviral covid pill 89% effective, Pfizer says
                                        </a>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="mr-3" src="images/5Screenshot 2021-11-07 2153585.jpg" alt="Generic placeholder image" style="width:25px;">
                                    <div class="media-body">
                                        <a href="8.berita.html">
                                            Travis Scott 'devastated' by Texas festival deaths
                                        </a>
                                    </div>
                                </li>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
			<div class="footer-line"></div>
				<div class="d-flex justify-content-center">
					<div class="footer-2">
						<img src="images/fake-news-blue-network-logo-D95E900270-seeklogo.com.png">
						<p>Connect With Us</p>
							<div class="social-media">
								<a href="#"><i class="fab fa-facebook fa-2x"></i></a>
								<a href="#"><i class="fab fa-twitter fa-2x"></i></a>
								<a href="#"><i class="fab fa-instagram fa-2x"></i></a>
								<a href="#"><i class="fab fa-youtube fa-2x"></i></a>
								<a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
							</div>
                            <div class="footer-body">								
                                <a href="#"><p>Copyright @ 2021 fnncom. </p></a>
                                <a href="#"><p>All right reserved</p></a>
                            </div>
					</div>
				</div>
			
		</footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>