<!DOCTYPE html>
<html>
	<head>
        <title></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="berita6.css">
	</head>
	<body>
		<header>
			<div class="website-header">
				<img src="images/fake-news-blue-network-logo-D95E900270-seeklogo.com.png">
				<h1>NEWS TODAY</h1>
				<div class="login-button">
                    <a href="2.login.html" class="btn btn-primary btn-sm" role="button" aria-pressed="true">LOGIN</a>
				</div>
			</div>
			<nav class="navbar navbar-expand-md ">
  <!-- Brand -->
  

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="1.index.html">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">POLITICS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">WORLD</a>
            </li> 
                <li class="nav-item">
                <a class="nav-link" href="#">BUSINESS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">TRAVEL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">TECHNOLOGY</a>
            </li> 
                <li class="nav-item">
                <a class="nav-link" href="#">SPORT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CARS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">VIDEOS</a>
            </li> 
            </ul>
        </div> 


		</header>
        <main>
            <div class="d-flex justify-content-center">
                <div class="container-2">
                    <div class="d-flex justify-content-center">
                        <div class="news-middle">
                            <div class="news-middle-head">
                                <h3>In Glasgow, young activists take to the streets to demand more from U.N. climate summit</h3>
                                <p>
                                <img src="images/ezgif.com-gif-maker.jpg">
                                </p>
                                <h6>Swedish climate activist Greta Thunberg speaks at a protest on Nov. 5, 2021 as the COP26 U.N. Climate Summit takes place in Glasgow, Scotland. (Jon Super/AP)</h6>
                            </div>
                            <div class="news-middle-isi">
                                <p>GLASGOW, Scotland — Masses of young people took to the streets outside the global climate summit on Friday to voice their impatience, frustration and even disdain for the older generation of leaders and emitters who set the world on a trajectory of catastrophic warming — and don’t have the courage to save the planet now.</p>
                                <p>Swedish teen activist Greta Thunberg led the charge, in a “Fridays for Future” student demonstration of young adults and children who came out with their parents. There was a family-friendly atmosphere, with pets along for the march and protest signs lettered in crayons. Organizers said 25,000 people attended.</p>
                                <p>The day presented a powerful reality check: Kids, representing the future, were on the march, while the old guard — including former vice president Al Gore, 73, and U.S. climate envoy John F. Kerry, 77 — were inside the hall with negotiators, expressing guarded optimism that more progress was being made than thought possible just a few weeks ago.</p>
                                <p>In contrast to the hopeful attitudes expressed by global leaders that progress was being made, Thunberg had no kind words for COP26, decrying it as “a global north green wash festival.”</p>
                                <p>“It is not a secret that COP26 is a failure,” Thunberg told the crowd at George Square. “It should be obvious that we cannot solve a crisis with the same methods that got us into it in the first place.”</p>
                                <p>Detailing her vision, she continued: “We need immediate, drastic annual emission cuts unlike anything the world has ever seen,” she said. “As we don’t have the technological solutions that alone will do anything even close to that, that means we will have to fundamentally change our society.”</p>
                                <p>Prime Minister Boris Johnson, host of the summit, believes his society will change. People in Britain will drive electric cars, get more of their power from offshore wind turbines and live in well-insulated homes by the 2030s, he promised.</p>
                                <p>But the British leader is certainly not envisioning change on Thunberg’s level or time table. Johnson, after all, decided not to the take the train back on the 400-mile journey from Glasgow to London. Instead, he flew in a private jet. His spokesman explained it was a fuel-efficient jet.</p>
                                <img src="images/copezgif.com-gif-maker.jpg">
                                <h6>Swedish climate activist Greta Thunberg speaks at a protest on Nov. 5, 2021 as the COP26 U.N. Climate Summit takes place in Glasgow, Scotland. (Jon Super/AP)</h6>
                                <p>Asked Friday if he understood the frustrations of the young people, Kerry replied, “I’m as frustrated as a lot of people. We started this journey back in 1988 … I believe what is happening here is far from business as usual,” he said, as the protesters outside waved signs reading “blah, blah, blah.”</p>
                                <p>Kerry said he felt “a greater sense of urgency” and “a greater sense of focus” than he’s ever seen in his many years attending climate summits.</p>
                                <p>Thunberg, however, accused leaders of doing worse than nothing. “They are actively creating loopholes and shaping frameworks to benefit themselves and to continue profiting from this destructive system,” she said. “This is an active choice by the leaders to continue to let the exploitation of people and nature, and the destruction of future and present living conditions, to take place.”</p>
                                <p>Maia Piermattei, 20, a university student, was among the throngs packed into George Square listening to Thunberg.</p>
                                <p>She said she was struck by how Thunberg appeared. “She’s not just young, she’s physically small, she really looks like a child,” Piermattei said. “And yet what she says is so powerful. She has leadership.”</p>
                                <p>Piermattei contrasted this to the leaders gathered at the COP26 summit, where she has been waitressing.</p>
                                <p>“I don’t feel as represented by them as I do by Greta. She feels like one of us,” she said.</p>
                                <p>Vanessa Nakate, a 24-year-old activist from Kampala, Uganda, was among the many speakers addressing the inequities of climate change.</p>
                                <p>“We are in a disaster that is happening every day,” she said, noting that “floods are ravaging” different parts of her country.</p>
                                <p>Africa, she said, is responsible for only 3 percent of historical global emissions, and yet it is suffering some of the greatest impacts of a warming planet.</p>
                                <p>These countries are “on the front lines of the crisis, but not on the front pages of the newspapers,” said Nakate, who herself was on the cover of Time magazine last month. “How will we have climate justice if people from the most affected areas are not being listened to?”</p>
                                <p>Many young Glaswegians took to the streets Friday, making their debut as climate change protesters after securing permission from parents to skip school. They carried homemade signs like “No more blah blah blah” and “The oceans are rising and so are we.”</p>
                                <p>Hannah Lowdon, 10, came to “my first COP, my first protest” holding a homemade sign that read: “Climate is changing. Why aren’t we?”</p>
                                <p>She described activist Thunberg as “my idol” and said she was really hoping to see the Swedish teen because she had shown the world that “kids can do a lot” and “adults don’t have to do everything.”</p>
                                <p>Aoidhe Featherstone, 10, was leading a chant in the middle of the march that snaked through central Glasgow. “I think we can save the planet but we have to act now,” said Aoidhe.</p>
                                <p>Her mother, Mo Hume, 49, said that she’d taken her daughter to protests before, but this time the dynamics had shifted.</p>
                                <p>“This one is driven by her; we are accompanying her. There are lessons here for adults on how we take on this issue,” she said.</p>
                                    <div class="iframe-container-2">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/pHLVDlb6rCU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="news-middle-komen-head">Comment</div>
                                <div class="news-middle-komen">
                                    <section id="app">
                                        <div class="container">
                                          <div class="row">
                                            <div class="col-6">
                                              <div class="comment">
                                            <p v-for="items in item" v-text="items"></p>
                                              </div><!--End Comment-->
                                              </div><!--End col -->
                                              </div><!-- End row -->
                                          <div class="row">
                                            <div class="col-6">
                                          <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
                                              <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                                            </div><!-- End col -->
                                          </div><!--End Row -->
                                        </div><!--End Container -->
                                      </section><!-- end App -->
                                </div>

                        </div>
                        <div class="box-1">
                            <hr>
                            <a href="#"><h4>Top News</h4></a>
                            <ul class="list-unstyled">
                                <li class="media">
                                  <img class="mr-3" src="images/1Screenshot 2021-11-07 2153584.jpg" alt="Generic placeholder image" style="width: 25px;">
                                  <div class="media-body">
                                    <a href="6.berita.html">
                                        Thousands of young climate protesters march through Glasgow
                                    </a>
                                  </div>
                                </li>
                                <li class="media">
                                  <img class="mr-3" src="images/2Screenshot 2021-11-07 215358.3jpg.jpg" alt="Generic placeholder image" style="width:25px;">
                                  <div class="media-body">
                                    <a href="7.berita.html">
                                        Iraqi Prime Minister survives exploding drone assassination attempt
                                    </a>
                                  </div>
                                </li>
                                <li class="media">
                                  <img class="mr-3" src="images/3Screenshot 2021-11-07 2153582.jpg" alt="Generic placeholder image" style="width:25px;">
                                  <div class="media-body">
                                    <a href="4.berita.html">
                                        Several killed as Belarussian cargo plane crashes in Siberia
                                    </a>
                                  </div>
                                </li>
                                <li class="media">
                                    <img class="mr-3" src="images/4Screenshot 2021-11-07 2153581.jpg" alt="Generic placeholder image" style="width:25px;">
                                    <div class="media-body">
                                        <a href="5.berita.html">
                                            Antiviral covid pill 89% effective, Pfizer says
                                        </a>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="mr-3" src="images/5Screenshot 2021-11-07 2153585.jpg" alt="Generic placeholder image" style="width:25px;">
                                    <div class="media-body">
                                        <a href="8.berita.html">
                                            Travis Scott 'devastated' by Texas festival deaths
                                        </a>
                                    </div>
                                </li>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
			<div class="footer-line"></div>
				<div class="d-flex justify-content-center">
					<div class="footer-2">
						<img src="images/fake-news-blue-network-logo-D95E900270-seeklogo.com.png">
						<p>Connect With Us</p>
							<div class="social-media">
								<a href="#"><i class="fab fa-facebook fa-2x"></i></a>
								<a href="#"><i class="fab fa-twitter fa-2x"></i></a>
								<a href="#"><i class="fab fa-instagram fa-2x"></i></a>
								<a href="#"><i class="fab fa-youtube fa-2x"></i></a>
								<a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
							</div>
                            <div class="footer-body">								
                                <a href="#"><p>Copyright @ 2021 fnncom. </p></a>
                                <a href="#"><p>All right reserved</p></a>
                            </div>
					</div>
				</div>
			
		</footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>